
/.venv
__pycache__/
*.py[cod]
*.egg-info/
*.mp4
/src/outputs
samples/*
!samples/README.md
outputs/*
!outputs/README.md
output/*
examples/*
!output/README.md
*.avi
*.mov
*.mkv
*.csv
*.json
!examples/*.json
!tests/data/*.csv
!presets/
!presets/*.json
/tests
/tests
